<mat-card>
    <mat-card-title>
        Michael's Progress Bar
    </mat-card-title>
    <mat-card-content>
        <mat-label>Progress:</mat-label>
        <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
                  
        <div style="margin-top: 16px;">
            <button mat-raised-button color="warn" (click)="decreaseProgress()">Previous Step</button>
            <button mat-raised-button color="primary" (click)="increaseProgress()">Next Step</button>
        </div>
    </mat-card-content>
</mat-card>

